._profile {
    position: absolute;
    top: 80%;
    left: 97%;
    margin: -5em 0 0 -5em;
  }
  
  /* main icon */
  ._profile {
      height: 6em; /* height == width */
      width: 6em;
      border: 2px solid #666;
      border-radius: 50%;
      overflow: hidden;
  }
  /* profile head */
  ._head {
      background: #666;
      border-radius: 100%;
      width: 25%;
      height: 25%;
      margin: 15% auto 5%;
  }
  /* profile body */
  ._body {
      background: #666;
      width: 50%;
      height: 50%;
      margin: auto;
      border-top-left-radius: 50%;
      border-top-right-radius: 50%;
  }


.sidenav {
    height: 100%;
    width: 0%;
    position: fixed;
    text-align: center;
    z-index: 1;
    top: 0;
    right: 0;
    background-color:  #9ed8d8;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #9199c9;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

#main {
    transition: margin-left .5s;
    padding: 16px;
  }
  