
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(216, 76, 94);
    position: fixed;
    bottom: 0;
    width: 100%;
    color: '#fffa8b'
  }
  
  li {
    float: left;
  }

  .li1 {
    float: right;
  }
  
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  /* .Navbar {
    background-color: rgb(216, 76, 94);
    border-color: #E7E7E7;
} */