.App {
  text-align: center;
  /* background-image: url("../src/images/homeimg.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
}
.App-nav {
  text-align: center;
  min-height: 20vh;
  min-width: 10vh;
  /* background-color: #2E4158; */
  
  font-size:40px;
}

.swing {
  animation: swing ease-in-out 1s infinite alternate;
  transform-origin: center -20px;
  float:left;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
.swing img {
  border: 5px solid #f8f8f8;
  display: block;
  height:200px;
  width:200px;
}
.swing:after{
  content: '';
  position: absolute;  
  width: 20px; height: 20px;  
  border: 1px solid #999;
  top: -10px; left: 50%;
  z-index: 0;
  border-bottom: none;
  border-right: none;
  transform: rotate(45deg);
}
/* nail */
.swing:before{
  content: '';
  position: absolute;
  width: 5px; height: 5px;
  top: -14px;left: 54%;
  z-index: 5;
  border-radius: 50% 50%;
  background: #000;
}

@keyframes swing {
  0% { transform: rotate(3deg); }
  100% { transform: rotate(-3deg); }
}


.App-header {
  background-color: #ffffff;
  height: 60vh;
  width: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position :center;
 
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 8px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;

}

.button1:hover {
  background-color:#4CAF50;;
  color: white;
}



.App {
  height: 100vh;
  justify-content: center;
  padding: 45px 40px;
  background-color: #2E4158;
  overflow: auto;
}

.center{
  width: 800px;
  
}


.PageSwitcher {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10%;
}

.PageSwitcher__Item {
  background-color: #4C5D72;
  color: #9DA6B1;
  padding: 10px 25px;
  cursor: pointer;
  font-size: .9em;
  border: none;
  outline: none;
  display: inline-block;
  text-decoration: none;
}

.PageSwitcher__Item--Active {
  background-color: #5ED0C0;
  color: white;
}

.PageSwitcher__Item:first-child {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.PageSwitcher__Item:last-child {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.FormCenter {
  margin-bottom: 500px;
}

.FormTitle {
  color: #707C8B;
  font-weight: 300;
  margin-bottom: 50px;
  justify-content: center;
}

.FormTitle__Link {
  color: #707C8B;
  text-decoration: none;
  display: inline-block;
  font-size: 1.7em;
  margin: 0 10px;
  padding-bottom: 5px;
}

.FormTitle__Link:first-child {
  margin-left: 0;
}

.FormTitle__Link--Active {
  color: white;
  border-bottom: 1px solid #199087;
}

.FormField {
  margin-bottom: 40px;
  justify-content: center;
  padding: 10px 50px;
}


.FormField1 {
  margin-bottom: 20px;
  justify-content: center;
  padding: 10px 70px;
}
.FormField__Label {
  display: block;
  text-transform: uppercase;
  font-size: .9em;
  color: rgb(17, 28, 41);
}
.FormField__Input {
  width: 50%;
  /* background-color: transparent;  */
  border: none;
  color: rgb(17, 28, 41);
  outline: none;
  border-bottom: 1px solid #010a14;
  font-size: 1em;
  font-weight: 300;
  padding: 15px 70px;
  margin-top: 10px;
}

.FormField__Input::placeholder {
  color: rgb(2, 9, 19);
}

.FormField__Button {
  background:palevioletred;
  color: white;
  border: none;
  outline: none;
  border-radius: 25px;
  padding: 15px 70px;
  font-size: .8em;
  font-weight: 500;
  
}

.FormField__Link {
  color: #66707D;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1.5px solid #225E62;
  padding-bottom: 5px;
}

.FormField__CheckboxLabel {
  color: #646F7D;
  font-size: .9em;
}

.FormField__Checkbox {
  position: relative;
  top: 1.5px;
}

.FormField__TermsLink {
  color: white;
  border-bottom: 1px solid #199087;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 2px;
  margin-left: 5px;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  height: 100%;
  display: inline-block;
  position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #E1E7E7;
    
}


.lcard {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 30%;
  height: 40%;
  display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgb(0, 0, 0);
    
}
.scard {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 30%;
  height: 50%;
  display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color:rgb(0, 0, 0);
    
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,5,0.2);
}


.cardapp {
  height: 120vh;
  padding: 45px 40px;
  overflow: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.myimg {
  background-image: url("../src/images/chalkboard_food.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


.homeimg {
  background-image: url("../src/images/homeimg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#goal_table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#goal_table td, #goal_table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#goal_table tr:nth-child(even){background-color: #f2f2f2;}

#goal_table tr:hover {background-color: #ddd;}

#goal_table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

.wrapper {
  margin-top: 18px;
  overflow: hidden;
}

.fab {
 
  top: auto;
  right: 820px;
  bottom: 20px;
  margin-left: 6px;
  position: fixed;
};

 
  
  .active {
    background-color: #4CAF50;
  }

  .blue-bg {
    background: linear-gradient(to right, rgba(33, 143, 187, 0.6), rgba(33, 143, 187, 0.5));
}

.light-blue-bg {
    background: linear-gradient(to right, rgba(77, 172, 209, 0.6), rgba(144, 199, 221, 0.5));
}

.pink-bg {
    background: linear-gradient(to right, rgba(194, 25, 109, 0.6), rgba(187, 33, 148, 0.5));
}

.green-bg {
    background: linear-gradient(to right, rgba(16, 114, 24, 0.6), rgba(61, 170, 46, 0.5));
}

.red-bg {
    background: linear-gradient(to right, rgba(199, 70, 11, 0.6), rgba(233, 83, 64, 0.5));
}


.dark-orange-bg {
    background: linear-gradient(to right, rgba(194, 116, 14, 0.6), rgba(211, 134, 62, 0.5));
}


.orange-bg {
    background: linear-gradient(to right, rgba(228, 150, 7, 0.6), rgba(207, 143, 48, 0.5));
}


.yellow-bg {
    background: linear-gradient(to right, rgba(219, 198, 11, 0.6), rgba(219, 216, 40, 0.5));
}

.purple-bg {
    background: linear-gradient(to right, rgba(161, 32, 144, 0.6), rgba(228, 49, 213, 0.5));
}

.App {
  height: 100vh;
  display: flex;
  color: white;
}

.App__Aside {
  width: 50%;
  background-color: #66DAC7;
 /* background-color: #FFC0CB;*/
}

.App__Form {
  width: 50%;
  background-color: #2E4158;
  padding: 25px 40px;
  overflow: auto;
}

.PageSwitcher {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10%;
}

.PageSwitcher__Item {
  background-color: #4C5D72;
  color: #9DA6B1;
  padding: 10px 25px;
  cursor: pointer;
  font-size: .9em;
  border: none;
  outline: none;
  display: inline-block;
  text-decoration: none;
}

.PageSwitcher__Item--Active {
  background-color: #5ED0C0;
  color: white;
}

.PageSwitcher__Item:first-child {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.PageSwitcher__Item:last-child {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.FormCenter {
  margin-bottom: 100px;
}

.FormTitle {
  color: #707C8B;
  font-weight: 300;
  margin-bottom: 50px;
}

.FormTitle__Link {
  color: #707C8B;
  text-decoration: none;
  display: inline-block;
  font-size: 1.7em;
  margin: 0 10px;
  padding-bottom: 5px;
}

.FormTitle__Link:first-child {
  margin-left: 0;
}

.FormTitle__Link--Active {
  color: white;
  border-bottom: 1px solid #199087;
}

.FormField {
  margin-bottom: 40px;
}

.FormField__Label {
  display: block;
  text-transform: uppercase;
  font-size: .9em;
  color: white;
}
.FormField__Input {
  width: 85%;
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  border-bottom: 1px solid #445366;
  font-size: 1em;
  font-weight: 300;
  padding-bottom: 10px;
  margin-top: 10px;
}

.FormField__Input::placeholder {
  color: #616E7F;
}

.FormField__Button {
  background-color: #52C4B9;
  color: white;
  border: none;
  outline: none;
  border-radius: 25px;
  padding: 15px 70px;
  font-size: .8em;
  font-weight: 500;
}

.FormField__Link {
  color: #66707D;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1.5px solid #225E62;
  padding-bottom: 5px;
}

.FormField__CheckboxLabel {
  color: #646F7D;
  font-size: .9em;
}

.FormField__Checkbox {
  position: relative;
  top: 1.5px;
}

.FormField__TermsLink {
  color: white;
  border-bottom: 1px solid #199087;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 2px;
  margin-left: 5px;
}

img {
  border-radius: 8px;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto }

  @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.mr-20 {
  margin-right: 20px !important;
}





.mydivs{
  position:absolute;
  top: 50%;
  left: 50%;
  /* margin-top: -18%; set to a negative number 1/2 of your height
  margin-left: -12.5%; set to a negative number 1/2 of your width */
  display: inline-block;
    position: fixed;
    height: 40vh;
    width:10vh;
  padding: 45px 40px;
  overflow: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  
      }
      
      .blue-gradient {
        background: linear-gradient(40deg, #2cb6e0, #2cb6e0) !important;
      }

      .logdivs{
        position:absolute;
        top: 50%;
        left: 50%;
        /* margin-top: -18%; set to a negative number 1/2 of your height
        margin-left: -12.5%; set to a negative number 1/2 of your width */
        display: inline-block;
          position: fixed;
          height: 35vh;
        padding: 45px 40px;
        overflow: auto;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
        
        
            }
            
            .logcenter{
              height: 10em;
              position: relative }
              div.container4 p {
              margin: 0;
              background: yellow;
              position: absolute;
              top: 50%;
              left: 50%;
              margin-right: -50%;
              transform: translate(-50%, -50%)
            }